<!doctype html>
<html lang="en">
<body>
  <% if $game.player_turn == $player_one_marker %>
    <h1> It is Player One's Turn. Marker: <%= $player_one_marker %></h1>
  <% else %>
    <h1> It is Player Two's Turn. Marker: <%= $player_two_marker %> </h1>
  <% end %>
  <h2> Pick an open spot to mark. </h2>
  <table>
  <form action="/play_game" method="post">
  <tr>
    <td>
      <% if $board.location_valid_to_mark?(location: 0, player_one_marker: $player_one_marker, player_two_marker: $player_two_marker) %>
        <input type="radio" name="spot" value="0">
      <% else%>
        <%= $board_array[0] %>
      <%end%>
    </td>
    <td>
    <%if $board.location_valid_to_mark?(location: 1, player_one_marker: $player_one_marker, player_two_marker: $player_two_marker) %>
      <input type="radio" name="spot" value="1">
    <%else%>
      <%= $board_array[1] %>
    <%end%>
    </td>
    <td>
      <%if $board.location_valid_to_mark?(location: 2, player_one_marker: $player_one_marker, player_two_marker: $player_two_marker) %>
        <input type="radio" name="spot" value="2">
      <%else%>
        <%= $board_array[2] %>
      <%end%>
    </td>
  </tr>
  <tr>
    <td>
      <%if $board.location_valid_to_mark?(location: 3, player_one_marker: $player_one_marker, player_two_marker: $player_two_marker) %>
        <input type="radio" name="spot" value="3">
      <%else%>
        <%= $board_array[3] %>
      <%end%>
    </td>
    <td>
      <%if $board.location_valid_to_mark?(location: 4, player_one_marker: $player_one_marker, player_two_marker: $player_two_marker) %>
        <input type="radio" name="spot" value="4">
      <%else%>
        <%= $board_array[4] %>
      <%end%>
    </td>
    <td>
      <%if $board.location_valid_to_mark?(location: 5, player_one_marker: $player_one_marker, player_two_marker: $player_two_marker) %>
        <input type="radio" name="spot" value="5">
      <%else%>
        <%= $board_array[5] %>
      <%end%>
    </td>
  </tr>
  <tr>
    <td>
      <%if $board.location_valid_to_mark?(location: 6, player_one_marker: $player_one_marker, player_two_marker:$player_two_marker) %>
        <input type="radio" name="spot" value="6">
      <%else%>
        <%= $board_array[6] %>
      <%end%>
    </td>
    <td>
      <%if $board.location_valid_to_mark?(location: 7, player_one_marker: $player_one_marker, player_two_marker:$player_two_marker) %>
        <input type="radio" name="spot" value="7">
      <%else%>
        <%= $board_array[7] %>
      <%end%>
    </td>
    <td>
      <%if $board.location_valid_to_mark?(location: 8, player_one_marker: $player_one_marker, player_two_marker: $player_two_marker) %>
        <input type="radio" name="spot" value="8">
      <%else%>
        <%= $board_array[8] %>
      <%end%>
    </td>
  </tr>
  </table>
  <br>
  <input type="submit">
</form>
</body>
</html>
