<% @previous_games.each do |previous_game| %>
  <br>
  <h2> <%= previous_game.end_game_state %> </h3>
  <br>
  <table>
  <tr>
    <td style="padding:0 15px 0 15px;">
    <%= previous_game.game_rules.get_location_value(0) %>
    </td>
    <td style="padding:0 15px 0 15px;">
    <%= previous_game.game_rules.get_location_value(1) %>
    </td>
    <td style="padding:0 15px 0 15px;">
    <%= previous_game.game_rules.get_location_value(2) %>
    </td>
  </tr>
  <tr>
    <td style="padding:0 15px 0 15px;">
    <%= previous_game.game_rules.get_location_value(3) %>
    </td>
    <td style="padding:0 15px 0 15px;">
    <%= previous_game.game_rules.get_location_value(4) %>
    </td>
    <td style="padding:0 15px 0 15px;">
    <%= previous_game.game_rules.get_location_value(5) %>
    </td>
  </tr>
  <tr>
    <td style="padding:0 15px 0 15px;">
    <%= previous_game.game_rules.get_location_value(6) %>
    </td>
    <td style="padding:0 15px 0 15px;">
    <%= previous_game.game_rules.get_location_value(7) %>
    </td>
    <td style="padding:0 15px 0 15px;">
    <%= previous_game.game_rules.get_location_value(8) %>
    </td>
  </tr>
  </table>
<% end %>
